<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="follower_model_name" default="Robot2" />
    <arg name="model_to_be_followed_name" default="Robot3" />

    <node name="turtle_tf_listener_node_1" pkg="ros_robotics" type="turtle_tf_listener_1.py" args="$(arg follower_model_name) $(arg model_to_be_followed_name)" output="screen"/>
</launch> 
