<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find plugin_test)/launch/run_turtle_tf_broadcaster.launch"/>
    <include file="$(find plugin_test)/launch/run_turtle_tf_listener.launch">
        <arg name="model_to_be_followed_name" value="floating_box_2" />
        <arg name="follower_model_name" value="floating_box" />
    </include>
    
</launch>
