<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="follower_model_name" default="floating_box" />
    <arg name="model_to_be_followed_name" default="floating_box_2" />

    <node name="turtle_tf_listener_node" pkg="plugin_test" type="turtle_tf_listener.py" args="$(arg follower_model_name) $(arg model_to_be_followed_name)" output="screen"/>
</launch>
